##### Numpy  & pandas excercies

In [6]:
import numpy as np
import pandas as pd

In [2]:
# 1. Set Numpy's random number generator seed to 101
np.random.seed(101)
np.random.randint(0,100,20)

array([95, 11, 81, 70, 63, 87, 75,  9, 77, 40,  4, 63, 40, 60, 92, 64,  5,
       12, 93, 40])

In [15]:
# 2. Create a NumPy Matrix of 100 rows by 5 columns consisting of random integers from 1-100. 
#(Keep in mind that the upper limit may be exclusive.)

mat=np.random.randint(1,101,500).reshape(100,5)
mat

array([[ 30,  88,  82,  42,  88],
       [ 95,  97,  12,  34,  94],
       [ 81,  49,   5,  49,  50],
       [ 46,  44,  84,  22,  28],
       [ 64,  14,  22,  41,  55],
       [ 32,  82,  44,  64,  54],
       [ 48,  52,  92,  60,  14],
       [ 61,  47,   4,  36,  91],
       [ 69,  59,  44,  20,  18],
       [ 28,  78,  35,  21,  10],
       [ 31,  41,  60,  89,  93],
       [ 91,  27,  73,  40,  46],
       [ 24,  38,  41,  11,  12],
       [ 85,  24,   7,  25,  19],
       [ 38,  25,  81,  25,  26],
       [  6,  68,  99,  79,  31],
       [ 37,  53,  17,  72,  85],
       [ 28,  40,  21,  46,  20],
       [ 15,  23,  98,  68,  77],
       [ 74,  86,  60,  39,  72],
       [ 13,  78,   3,   7,  39],
       [ 25,  28,  55,  50,  69],
       [ 24,  75,  42,  82,  72],
       [ 25,  64,  53,  82,  26],
       [ 57,   8,  42,  17,  43],
       [ 12,  26,  22,  75,   7],
       [ 26,  21,  64,  61,  90],
       [ 69,  89,  40,  76,  78],
       [ 60,  38,  17,  83,  65],
       [ 83,  52,  12,  65,  45],
       [ 81,  84,  80,  85,  30],
       [ 37,  84,  72,  35,  38],
       [ 41,   5, 100,  89,  90],
       [ 35,  72,  65,  45,  90],
       [ 15,  71,  13,  55,  50],
       [ 19,  89,  61,  97,  57],
       [ 94,  69,  54,   7,  68],
       [ 25, 100,   1,  68,  94],
       [ 48,  16,  73,  69,  61],
       [ 92,  81,  84,  12,  45],
       [  7,  59,  51,  35,  40],
       [ 72,  27,  92,  60,  90],
       [  1,  87,  15,  92,  48],
       [ 75,  24,  43,  49,  27],
       [  5,  67,  44,  85,  31],
       [ 80,  10,  79,  50,  29],
       [ 90,  35,  94,  42,  22],
       [ 89,   3,  87,  85,  26],
       [  3,  51,  50,  64,   3],
       [ 96,  29,  22,  63,  51],
       [100,  53,  57,   6,  43],
       [ 83,  76,  23,  35,  49],
       [ 61,  73,  10,  96,  97],
       [ 47,  60,  52,  48,   5],
       [ 60,  37,  35,  99,  82],
       [  9,  96,  61,  47,  20],
       [ 14,  36,  15,   7,  25],
       [ 32,  10,  32,  13,  49],
       [ 76,  26,  86,  63,  22],
       [ 78,  69,  20,  67,  71],
       [ 74,  50,  28,  36,  34],
       [ 43,  34,  94,  40,  65],
       [  2,  59,  18,  60,  72],
       [  2,  24,  81,  27,  38],
       [ 35,   4,  78,  21,   1],
       [ 63,  30,  48,  49,  90],
       [ 50,  18,  87,  48,  50],
       [ 64,  32,  36,  57,  84],
       [ 72,  73,  12,  27,   3],
       [ 17,   1,  51,   9,  80],
       [  2,   2,  43,  29,  91],
       [ 36,  86,  24,  65,  21],
       [ 22,  44,  38,  90,  33],
       [ 67,   3,   3,   1,  91],
       [ 91,  57,  71,  54,  39],
       [ 90,  31,  21,  21,  47],
       [ 21,  10,   8,  67,  18],
       [ 66,  70,   8,  46,  19],
       [ 74,  30,  70,  92,  53],
       [ 92,  57,  50,  50,  43],
       [ 15,  22,  16,  34,  60],
       [ 11,  33,  90,  53,  29],
       [ 47,  10,  99,  72,  81],
       [ 90,  83,  82,   9,   8],
       [ 54,  65,  90,  24,  89],
       [ 19,  84,  68,   8,  58],
       [ 82,  95,  90,  96,  73],
       [ 81,  56,  56,  79,  88],
       [ 75,  71,  84,  90,  79],
       [ 66,  15,  37,  17,  98],
       [ 47,   3,  18,  24,  36],
       [ 82,  26,  19,  70,  22],
       [ 28,  64,  57,  21,  95],
       [ 55,  85,  68,  42,  66],
       [ 40,  80,  56,  34,   7],
       [  5,  11,   8,  41,  28],
       [  7,  89,  78,  16,  99],
       [ 80,  68,  83,  35,  33],
       [ 22,  82,  16,  53,  75],
       [ 24,  53,  64,  43,  44]])

In [13]:
# 3. Now use pd.DataFrame() to read in this numpy array as a dataframe.
# Simple pass in the numpy array into that function to get back a dataframe. Pandas will auto label the columns to 0-4
mat_df=pd.DataFrame(data=mat)
mat_df.head()

     0   1   2   3   4
0  100  98  65  96   4
1   89  60  39  30  32
2   89  58  10  63  32
3   14  36  48   3  18
4   51  23  31  37  23

In [8]:
# 4. Using your previously created DataFrame, use [df.columns = [...]]
#  (https://stackoverflow.com/questions/11346283/renaming-columns-in-pandas)
# to rename the pandas columns to be ['f1','f2','f3','f4','label'].
mat_df.columns=['f1','f2','f3','f4','label']

In [12]:
mat_df.head()

    f1  f2  f3  f4  label
0  100  98  65  96      4
1   89  60  39  30     32
2   89  58  10  63     32
3   14  36  48   3     18
4   51  23  31  37     23

In [11]:
#5.   Create a dataframe with the columns ['A','B','C','D'] with each column
#         having 50 rows of random numbers for data. The random numbers should be
#         between 0 and 100. (Hint: Use numpy to create the numbers, then pass
#         it in to pd.DataFrame(), check out the data= and index= parameters
#         for that call.)

numbers=np.random.randint(0,101, (50,4))
numbers_pd=pd.DataFrame(data=numbers, columns=['A','B','C','D'], index=None)
numbers_pd.head()

    A   B   C   D
0  42   6  12  28
1  23  76   8  10
2  41  97  55  66
3  95  96  65  75
4  83  10  71  27

## Plotly

## 1. Scatter plot

In [16]:
import plotly.offline as pyo
import plotly.graph_objs as go

np.random.seed(42)
random_x=np.random.randint(1,101,100)
random_y=np.random.randint(1,101,100)

data=[go.Scatter(x=random_x, y=random_y, 
                 mode='markers',
                marker={'size':20, 'color':'green', 'symbol':'pentagon'}) ]  # data must be a list
 
# layout
layout=go.Layout(title='First Scatter',
                xaxis={'title': 'X axis'}, # always dictionary
                 yaxis={'title':'Y axis'}) # always dictionary

fig=go.Figure(data=data, layout=layout)
pyo.plot(fig, filename='Kinga_plot.html' )

'file:///home/kinga/python/Wizaulizacje-Udemy/Kinga_plot.html'

In [17]:
import plotly.offline as pyo
import plotly.graph_objs as go

np.random.seed(42)
random_x=np.random.randint(1,101,100)
random_y=np.random.randint(1,101,100)

trace1=go.Scatter(x=random_x, y=random_y, 
                 mode='markers',
                   name='markers',
                marker={'size':20, 'color':'green', 'symbol':'pentagon'})   
trace2=go.Scatter(x=random_x, y=random_y, 
                 mode='lines', 
                name='line' )
 
# layout
layout=go.Layout(title='First Scatter',
                xaxis={'title': 'X axis'}, 
                 yaxis={'title':'Y axis'}) 

data=[trace1,trace2]
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig, filename='Kinga_plot1.xml' )

/home/kinga/anaconda3/lib/python3.6/site-packages/plotly/offline/offline.py:621: UserWarning:

Your filename `Kinga_plot1.xml` didn't end with .html. Adding .html to the end of your file.

'file:///home/kinga/python/Wizaulizacje-Udemy/Kinga_plot1.xml.html'

#### apartments in Międzyzdroje - dependence of price on the surface

In [18]:
import pandas as pd
df=pd.read_excel(r'/home/kinga/python/Wizaulizacje-Udemy/Miedzyzdroje.xlsx')

In [19]:
df.columns

Index(['Adres', 'Rynek', 'Powierzchnia (m2)', 'Cena (zł)', 'Cena (zł/m2)',
       'Forma własności', 'Liczba_pokoi', 'Pietro', 'Rodzaj zabudowy',
       'Stan wykończenia', 'Opis'],
      dtype='object')

In [20]:
import plotly.offline as pyo
import plotly.graph_objs as go
from scipy import stats

In [22]:
# offer prices
trace1=go.Scatter(x=df['Powierzchnia (m2)'], y=df['Cena (zł/m2)'], 
                 mode='markers',
                   name='oferty',
                marker={'size':10, 'color':'green'})

# Trend line
slope, intercept, r_value, p_value, std_err = stats.linregress(df['Powierzchnia (m2)'],df['Cena (zł/m2)'])
line = slope*df['Powierzchnia (m2)']+intercept

trace2 = go.Scatter(
                  x=df['Powierzchnia (m2)'],
                  y=line,
                  mode='lines',
                  marker=go.Marker(color='rgb(31, 119, 180)'),
                  name='linia trendu')

# layout
layout=go.Layout(title='Zależność ceny od powierzchni',
                xaxis={'title': 'Powierzchnia (m2)'},
                 yaxis={'title':'Cena zł/m2'}) 

data=[trace1, trace2]
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig, filename='Miedzyzdroje_zaleznosc_ceny_od_pow.xml')

/home/kinga/anaconda3/lib/python3.6/site-packages/plotly/graph_objs/_deprecations.py:426: DeprecationWarning:

plotly.graph_objs.Marker is deprecated.
Please replace it with one of the following more specific types
  - plotly.graph_objs.scatter.Marker
  - plotly.graph_objs.histogram.selected.Marker
  - etc.


/home/kinga/anaconda3/lib/python3.6/site-packages/plotly/offline/offline.py:621: UserWarning:

Your filename `Miedzyzdroje_zaleznosc_ceny_od_pow.xml` didn't end with .html. Adding .html to the end of your file.

'file:///home/kinga/python/Wizaulizacje-Udemy/Miedzyzdroje_zaleznosc_ceny_od_pow.xml.html'

#### apartments in Poznań - dependence of the price on the surface

In [23]:
import pandas as pd
transactions=pd.read_excel(r'/home/kinga/python/baza_bez_outliers.xlsx')

In [24]:
transactions.columns

Index(['Unnamed: 0', 'index', 'Adres', 'Cena', 'Cena_lokalu', 'Cena_zł/m2',
       'Data_transakcji', 'Forma obrotu', 'Funkcja dominująca',
       'Funkcja podstawowa', 'Identyfikator', 'Ilość_izb', 'Kondygnacja',
       'Liczba i rodzaj pomieszczeń przynależnych', 'Nr zmiany', 'Numer KW',
       'Numer transakcji/wyceny', 'Obręb', 'Opis', 'Opis nieruchomości',
       'Podstawa prawna', 'Pole powierzchni pomieszczeń przynależnych',
       'powierzchnia_lokalu', 'Rodzaj nieruchomości', 'Rodzaj obciążenia',
       'Rodzaj prawa objętego transakcją', 'Rodzaj zapisu', 'repertorium',
       'Udział w prawie będący przedmiotem transakcji',
       'Uzbrojenie istniejące', 'Uzbrojenie możliwe do podłączenia',
       'Współrzędne geometryczne środka budynku', 'miasto', 'adres_miasto',
       'ulica', 'numer_mieszkania', 'wspolrzedne', 'dlugosc', 'szerokosc'],
      dtype='object')

In [26]:
price=list(transactions['Cena_zł/m2'])

In [27]:
surface=list(transactions['powierzchnia_lokalu'])

In [39]:
data=[go.Scatter(x=surface, y=price, 
                 mode='markers',
                marker={'size':10, 'color':'green', 'symbol':'pentagon'}) ]  # zawsze lista
 
# layout
layout=go.Layout(title='Zaleznosc ceny od powierzchni',
                xaxis={'title': 'powierzchnia (m2)'}, # słownik 
                 yaxis={'title':'cena (zl/m2)'}) # słownik)


fig=go.Figure(data=data, layout=layout)
pyo.plot(fig, filename='Transakcje_wykres.html' )

'file:///home/kinga/python/Wizaulizacje-Udemy/Transakcje_wykres.html'

#### prices in the timeline according to districts - line graph

In [31]:
transactions=pd.read_excel(r'/home/kinga/python/baza_bez_outliers.xlsx')

In [32]:
transactions.sort_values(by=['Data_transakcji'],ascending=False, inplace=True )

In [33]:
transactions['date']=pd.to_datetime(transactions['Data_transakcji'], format="%d.%m.%Y")

In [34]:
transactions.sort_values(by=['Obręb','date'], inplace=True)

In [36]:
districts=transactions['Obręb'].unique()
data=[]

for district in districts:
    trace=go.Scatter(y=transactions['Cena_zł/m2'],
                    x=transactions[transactions['Obręb']==district]['date'],
                    mode='lines',
                    name=district)
    data.append(trace)
                                   
layout=go.Layout(title='Prices by time',
                xaxis={'title': 'date'},
                yaxis= {'title' :'price'})

fig=go.Figure(data=data, layout=layout)
pyo.plot(fig, filename='Transactions_by_time.html')

'file:///home/kinga/python/Wizaulizacje-Udemy/Transactions_by_time.html'

#### excercise
- Objective: Using the file 2010YumaAZ.csv, develop a Line Chart that plots seven days worth of temperature data on one graph.
- You can use a for loop to assign each day to its own trace.

In [41]:
import pandas as pd
temperature=pd.read_csv('/home/kinga/python/Wizaulizacje-Udemy/Plotly-Dashboards-with-Dash-master/Data/2010YumaAZ.csv')

In [43]:
temperature.head()

   LST_DATE      DAY LST_TIME  T_HR_AVG
0  20100601  TUESDAY     0:00      25.2
1  20100601  TUESDAY     1:00      24.1
2  20100601  TUESDAY     2:00      24.4
3  20100601  TUESDAY     3:00      24.9
4  20100601  TUESDAY     4:00      22.8

In [47]:
TUE_temp=temperature[temperature['DAY']=='TUESDAY']['T_HR_AVG']

In [48]:
TUE_time=temperature[temperature['DAY']=='TUESDAY']['LST_TIME']

In [49]:
WED_temp=temperature[temperature['DAY']=='WEDNESDAY']['T_HR_AVG']

In [50]:
WED_time=temperature[temperature['DAY']=='WEDNESDAY']['LST_TIME']

In [52]:
# I create a line for particular days of the week but this is kind of hardkoding
trace1=(go.Scatter(x=TUE_time, y=TUE_temp, 
                 name='Tuesday',
                 mode='lines') ) 
trace2=(go.Scatter(x=WED_time,
                  y=WED_temp,
                name='Wednesday',
                   mode='lines'))
trace3=(go.Scatter(x=temperature[temperature['DAY']=='THURSDAY']['LST_TIME'],
                  y=temperature[temperature['DAY']=='THURSDAY']['T_HR_AVG'],
                  name='Thursday',
                  mode='lines')) 
    

layout=go.Layout(title='Temperature by hour',
                xaxis={'title': 'time'}, # słownik 
                 yaxis={'title':'temperature'},# słownik)
                hovermode ='closest') 

data=[trace1, trace2, trace3]
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig, filename='Temperature1.html' )

'file:///home/kinga/python/Wizaulizacje-Udemy/Temperature1.html'

In [53]:
# the below method is more sophisticated and quicker
#days=['TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY', 'MONDAY'] or
days=temperature['DAY'].unique() # chosing unique values from column 'DAY'
data=[]
for day in days:
    trace=go.Scatter(x=temperature['LST_TIME'], y=temperature[temperature['DAY']==day]['T_HR_AVG'], 
                     name=day, mode='lines')
    data.append(trace)

    
layout=go.Layout(title='Temperature by hour',
                xaxis={'title': 'time'}, # słownik 
                 yaxis={'title':'temperature'},# słownik)
                hovermode ='closest') 


fig=go.Figure(data=data, layout=layout)
pyo.plot(fig, filename='Temperature.html' )

'file:///home/kinga/python/Wizaulizacje-Udemy/Temperature.html'

## 2. Bar charts

In [54]:
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

#### bar chart that shows mean prices in Poznań districts

In [65]:
transactions=pd.read_excel(r'/home/kinga/python/baza_bez_outliers.xlsx')

In [66]:
mean=transactions.groupby('Obręb')['Cena_zł/m2'].mean() # mean price in each district

In [67]:
mean.head()

Obręb
CHARTOWO      4910.911250
DĘBIEC        4552.616739
GOLĘCIN       5096.762571
GÓRCZYN       5105.438333
GŁOWIENIEC    2907.138750
Name: Cena_zł/m2, dtype: float64

In [68]:
mean=mean.to_frame()

In [69]:
mean.reset_index(inplace=True)

In [70]:
mean.columns

Index(['Obręb', 'Cena_zł/m2'], dtype='object')

In [61]:
data=[go.Bar(x=mean['Obręb'],
            y=mean['Cena_zł/m2'])]

layout=go.Layout(title='mean prices')
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig)

'file:///home/kinga/python/Wizaulizacje-Udemy/temp-plot.html'

#### apartments in Poznań - number of transactions in each district depending on surface of the apartments

In [71]:
transactions=pd.read_excel(r'/home/kinga/python/baza_bez_outliers.xlsx')

In [72]:
# I will add columns 'A', 'B', 'C' to 'transactions'. 
# Those columns will be filled with '0' or '1', depending on properties prices 
# For this purpose I will use functions below:

# A - price (zł/m2) <= 4000
def funcA(x):
    if x<= 4000:
        return 1
    else:
        return 0

# B - price (zł/m2) >4000 and <=6000
def funcB(x):
    if x>4000 and x<=6000:
        return 1
    else:
        return 0

# C >6000
def funcC(x):
    if x>6000:
        return 1
    else:
        return 0

In [73]:
# adding columns  A, B, C
transactions['A']=transactions['Cena_zł/m2'].apply(lambda x: funcA(x))

In [74]:
transactions['B']=transactions['Cena_zł/m2'].apply(lambda x: funcB(x))

In [75]:
transactions['C']=transactions['Cena_zł/m2'].apply(lambda x: funcC(x))

In [77]:
# counting the number of transactions in each area interval grouped by district
A=transactions.loc[transactions['A']==1].groupby(by=['Obręb', 'A'], as_index=False).size()
B=transactions.loc[transactions['B']==1].groupby(by=['Obręb', 'B'], as_index=False).size()
C=transactions.loc[transactions['C']==1].groupby(by=['Obręb', 'C'], as_index=False).size()

In [79]:
A=A.to_frame()
B=B.to_frame()
C=C.to_frame()

In [81]:
# reset index
A.reset_index(inplace=True)
B.reset_index(inplace=True)
C.reset_index(inplace=True)

In [83]:
A.head()

        Obręb  A   0
0    CHARTOWO  1   1
1      DĘBIEC  1  23
2     GOLĘCIN  1  10
3     GÓRCZYN  1  10
4  GŁOWIENIEC  1   7

In [84]:
# columns
A.columns=['Obręb', 'A', 'Liczba A']
B.columns=['Obręb', 'B', 'Liczba B']
C.columns=['Obręb', 'C', 'Liczba C']

In [86]:
A.head()

        Obręb  A  Liczba A
0    CHARTOWO  1         1
1      DĘBIEC  1        23
2     GOLĘCIN  1        10
3     GÓRCZYN  1        10
4  GŁOWIENIEC  1         7

In [87]:
# merging df 'A', 'B' and 'C' by district (obręb). Not every district occurs in every df, that's why I merge by outer
merged=A.merge(B, on='Obręb', how='outer').merge(C, on='Obręb', how='outer')

In [88]:
merged.head()

        Obręb    A  Liczba A    B  Liczba B    C  Liczba C
0    CHARTOWO  1.0       1.0  1.0      31.0  NaN       NaN
1      DĘBIEC  1.0      23.0  1.0      65.0  1.0       4.0
2     GOLĘCIN  1.0      10.0  1.0      44.0  1.0      16.0
3     GÓRCZYN  1.0      10.0  1.0      76.0  1.0      22.0
4  GŁOWIENIEC  1.0       7.0  1.0       1.0  NaN       NaN

In [89]:
# changing Nan values to 0
merged.fillna(0, inplace=True)

In [90]:
merged.head()

        Obręb    A  Liczba A    B  Liczba B    C  Liczba C
0    CHARTOWO  1.0       1.0  1.0      31.0  0.0       0.0
1      DĘBIEC  1.0      23.0  1.0      65.0  1.0       4.0
2     GOLĘCIN  1.0      10.0  1.0      44.0  1.0      16.0
3     GÓRCZYN  1.0      10.0  1.0      76.0  1.0      22.0
4  GŁOWIENIEC  1.0       7.0  1.0       1.0  0.0       0.0

In [92]:
columns=merged[['Liczba A', 'Liczba B', 'Liczba C']]

In [94]:
columns.head()

   Liczba A  Liczba B  Liczba C
0       1.0      31.0       0.0
1      23.0      65.0       4.0
2      10.0      44.0      16.0
3      10.0      76.0      22.0
4       7.0       1.0       0.0

In [95]:
# stacked bar chart on df 'merged'
data=[]
for column in columns:
    trace=go.Bar(x=merged['Obręb'],
                y=merged[column],
                name=column)
    data.append(trace)

layout=go.Layout(title='prices', barmode='stack')
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig)

'file:///home/kinga/python/Wizaulizacje-Udemy/temp-plot.html'

#### Excercise
- Objective: Create a stacked bar chart from the file ../data/mocksurvey.csv. 
- Note that questions appear in the index (and should be used for the x-axis), while responses appear as column labels.  - Extra Credit: make a horizontal bar chart!

In [97]:
mocksurvey=pd.read_csv(r'/home/kinga/python/Wizaulizacje-Udemy/Plotly-Dashboards-with-Dash-master/Data/mocksurvey.csv')

In [100]:
mocksurvey

,Question,Strongly Agree,Somewhat Agree,Neutral,Somewhat Disagree,Strongly Disagree
0,Question 1,0.45,0.25,0.10,0.12,0.08
1,Question 2,0.12,0.07,0.48,0.18,0.15
2,Question 3,0.05,0.22,0.19,0.23,0.31

In [101]:
# changing first column name 
mocksurvey.columns=['Question', 'Strongly Agree', 'Somewhat Agree', 'Neutral', 'Somewhat Disagree','Strongly Disagree']

In [102]:
mocksurvey

,Question,Strongly Agree,Somewhat Agree,Neutral,Somewhat Disagree,Strongly Disagree
0,Question 1,0.45,0.25,0.10,0.12,0.08
1,Question 2,0.12,0.07,0.48,0.18,0.15
2,Question 3,0.05,0.22,0.19,0.23,0.31

In [103]:
# stacked bar chart 
import plotly.offline as pyo
import plotly.graph_objs as go

trace1=go.Bar(y=mocksurvey['Strongly Agree'],
             x=mocksurvey['Question'],
            name='Strongly Agree',
             marker={'color':'red'})

trace2=go.Bar(y=mocksurvey['Somewhat Agree'],
             x=mocksurvey['Question'],
            name='Somewhat Agree',
             marker={'color':'yellow'})

trace3=go.Bar(y=mocksurvey['Neutral'],
             x=mocksurvey['Question'],
            name='Neutral',
             marker={'color':'blue'})

trace4=go.Bar(y=mocksurvey['Somewhat Disagree'],
             x=mocksurvey['Question'],
            name='Somewhat Disagree',
             marker={'color':'green'})

trace5=go.Bar(y=mocksurvey['Strongly Disagree'],
             x=mocksurvey['Question'],
            name='Strongly Disagree',
             marker={'color':'black'})

data=[trace1, trace2, trace3, trace4, trace5]
layout=go.Layout(title='Questions', barmode='stack')
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig)

'file:///home/kinga/python/Wizaulizacje-Udemy/temp-plot.html'

In [104]:
# the same as above but horisontal
import plotly.offline as pyo
import plotly.graph_objs as go

trace1=go.Bar(x=mocksurvey['Strongly Agree'],
             y=mocksurvey['Question'],
            name='Strongly Agree',
             marker={'color':'red'},
             orientation='h') # horisontal orientation

trace2=go.Bar(x=mocksurvey['Somewhat Agree'],
             y=mocksurvey['Question'],
            name='Somewhat Agree',
             marker={'color':'yellow'},
             orientation='h')

trace3=go.Bar(x=mocksurvey['Neutral'],
             y=mocksurvey['Question'],
            name='Neutral',
             marker={'color':'blue'},
             orientation='h')

trace4=go.Bar(x=mocksurvey['Somewhat Disagree'],
             y=mocksurvey['Question'],
            name='Somewhat Disagree',
             marker={'color':'green'},
             orientation='h')

trace5=go.Bar(x=mocksurvey['Strongly Disagree'],
             y=mocksurvey['Question'],
            name='Strongly Disagree',
             marker={'color':'black'},
             orientation='h')  

data=[trace1, trace2, trace3, trace4, trace5]
layout=go.Layout(title='Questions', barmode='stack')
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig)

'file:///home/kinga/python/Wizaulizacje-Udemy/temp-plot.html'

In [ ]:
# the same stacked bar as above but shorter version - there is no need to call each answer separately

In [105]:
opinions=mocksurvey.columns[1:]

In [106]:
opinions

Index(['Strongly Agree', 'Somewhat Agree', 'Neutral', 'Somewhat Disagree',
       'Strongly Disagree'],
      dtype='object')

In [107]:
data=[]
for opinion in opinions:
    trace=go.Bar(x=mocksurvey[opinion],
             y=mocksurvey['Question'],
                orientation='h',
                name=opinion)
        
    data.append(trace)

layout=go.Layout(title='Questions', barmode='stack', hovermode='closest')
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig)

'file:///home/kinga/python/Wizaulizacje-Udemy/temp-plot.html'

## 3. Bubble chart - shows the dependence of 3 features

In [108]:
import pandas as pd
df=pd.read_csv(r'/home/kinga/python/Wizaulizacje-Udemy/Plotly-Dashboards-with-Dash-master/Data/mpg.csv')

In [109]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [110]:
import plotly.offline as pyo
import plotly.graph_objs as go

data=[go.Scatter(x=df['horsepower'],
                y=df['weight'],
                text= df['name'], # what to display when you hover over
                mode='markers',
                marker={'size': 2* df['acceleration'], # that what is shown as bubbles. 2* -increasing bubble's size
                        'color':df['acceleration'],
                        'showscale':True })] # color scale next to the chart
      
layout=go.Layout(title='cars',hovermode='closest')
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig)

'file:///home/kinga/python/Wizaulizacje-Udemy/temp-plot.html'

## 4. Box plot - quartiles

In [111]:
import pandas as pd

In [112]:
variable=[5, 15, 16, 20, 21, 25, 26, 27, 30, 30, 31, 32, 32, 34, 35, 38, 38, 41, 43, 66]

In [114]:
data=pd.DataFrame(data=variable,columns=['oceny'] )

In [116]:
data.describe()

           oceny
count  20.000000
mean   30.250000
std    12.648591
min     5.000000
25%    24.000000
50%    30.500000
75%    35.750000
max    66.000000

In [117]:
import plotly.offline as pyo
import plotly.graph_objs as go

data=[go.Box(y=data['oceny'], 
    boxpoints='all',# displays only points that are in the set, if I enter boxpoints = 'outliers', it will only show outliers
    pointpos=-2, # I determine where the points are to be located: 0-center, positive-right side, negative-left
    jitter=1)] # I determine how much points are to be scattered (along the x-axis)
     

pyo.plot(data)

'file:///home/kinga/python/Wizaulizacje-Udemy/temp-plot.html'

#### Excersise
- Objective: Make a DataFrame using the Abalone dataset (../data/abalone.csv).
- Take two independent random samples of different sizes from the 'rings' field.
- HINT: np.random.choice(df['rings'],10,replace=False) takes 10 random values
- Use box plots to show that the samples do derive from the same population.

In [118]:
import pandas as pd
import numpy as np

In [119]:
df=pd.read_csv(r'/home/kinga/python/Wizaulizacje-Udemy/Plotly-Dashboards-with-Dash-master/Data/abalone.csv')

In [120]:
df.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [121]:
sample1=np.random.choice(df['rings'], 15, replace=False)
sample2=np.random.choice(df['rings'], 40, replace=False)

In [122]:
sample1

array([13, 10, 15,  8,  8, 10,  6,  9,  5,  6,  8,  8, 15, 11,  6])

In [123]:
sample2

array([10,  9, 14, 11, 14,  5,  9, 11,  7, 11,  7, 18, 10, 13, 12, 10, 13,
        9,  9,  7,  4, 11,  7,  8, 21,  7,  7,  8, 11,  6, 10,  9, 11,  9,
       10, 17, 10, 10, 10, 10])

In [124]:
import plotly.offline as pyo
import plotly.graph_objs as go

data=[go.Box(y=sample1, name='A', boxpoints='all', jitter=0),
     go.Box (y=sample2, name='B', boxpoints='outliers', jitter=0)]

layout=go.Layout(title='Comparison of two samples')
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig)

'file:///home/kinga/python/Wizaulizacje-Udemy/temp-plot.html'

## 5. Histogram

In [125]:
import pandas as pd
import numpy as np
import plotly.offline as pyo
import plotly.graph_objs as go

In [126]:
df=pd.read_csv(r'/home/kinga/python/Wizaulizacje-Udemy/Plotly-Dashboards-with-Dash-master/Data/abalone.csv')

In [127]:
data=[go.Histogram(x=df['height'],xbins={'size':0.15} )]

fig=go.Figure(data=data)
pyo.plot(fig)

'file:///home/kinga/python/Wizaulizacje-Udemy/temp-plot.html'

In [128]:
data1=[go.Histogram(x=df['rings'], xbins={'size':3,'start':2, 'end':20 })] # size-bin's interval
       
layout=go.Layout(title='Rings')
fig=go.Figure(data=data1, layout=layout)
pyo.plot(fig)

'file:///home/kinga/python/Wizaulizacje-Udemy/temp-plot.html'

#### excercise - apartments in Międzyzdroje- number of transactions depending on price

In [129]:
df=pd.read_excel(r'/home/kinga/python/Wizaulizacje-Udemy/Miedzyzdroje.xlsx')

In [130]:
df.columns

Index(['Adres', 'Rynek', 'Powierzchnia (m2)', 'Cena (zł)', 'Cena (zł/m2)',
       'Forma własności', 'Liczba_pokoi', 'Pietro', 'Rodzaj zabudowy',
       'Stan wykończenia', 'Opis'],
      dtype='object')

In [131]:
data=[go.Histogram(x=df['Cena (zł/m2)'],xbins={'size':2000} )]

layout=go.Layout(title='Liczba transakcji w określonych przedziałach cenowych',
                xaxis={'title': 'przedział cenowy (zł/m2)'}, # słownik 
                 yaxis={'title':'liczba transakcji'},# słownik)
                hovermode ='closest') 

fig=go.Figure(data=data, layout=layout)
pyo.plot(fig, filename='Miedzyzdroje.html')

'file:///home/kinga/python/Wizaulizacje-Udemy/Miedzyzdroje.html'

## 6. Distplots

In [132]:
import plotly.offline as pyo
import plotly.figure_factory as ff
import pandas as pd

In [133]:
transactions=pd.read_excel(r'/home/kinga/python/baza_bez_outliers.xlsx')

In [134]:
transactions.columns

Index(['Unnamed: 0', 'index', 'Adres', 'Cena', 'Cena_lokalu', 'Cena_zł/m2',
       'Data_transakcji', 'Forma obrotu', 'Funkcja dominująca',
       'Funkcja podstawowa', 'Identyfikator', 'Ilość_izb', 'Kondygnacja',
       'Liczba i rodzaj pomieszczeń przynależnych', 'Nr zmiany', 'Numer KW',
       'Numer transakcji/wyceny', 'Obręb', 'Opis', 'Opis nieruchomości',
       'Podstawa prawna', 'Pole powierzchni pomieszczeń przynależnych',
       'powierzchnia_lokalu', 'Rodzaj nieruchomości', 'Rodzaj obciążenia',
       'Rodzaj prawa objętego transakcją', 'Rodzaj zapisu', 'repertorium',
       'Udział w prawie będący przedmiotem transakcji',
       'Uzbrojenie istniejące', 'Uzbrojenie możliwe do podłączenia',
       'Współrzędne geometryczne środka budynku', 'miasto', 'adres_miasto',
       'ulica', 'numer_mieszkania', 'wspolrzedne', 'dlugosc', 'szerokosc'],
      dtype='object')

In [135]:
hist_data=[transactions['Cena_zł/m2']]

group_labels=['transactions']
fig=ff.create_distplot(hist_data, group_labels, bin_size=500)
pyo.plot(fig)

'file:///home/kinga/python/Wizaulizacje-Udemy/temp-plot.html'

#### excercise

In [136]:
# Objective: Using the iris dataset, develop a Distplot that compares the petal lengths of each class.
# File: '../data/iris.csv'
# Fields: 'sepal_length','sepal_width','petal_length','petal_width','class'
# Classes: 'Iris-setosa','Iris-versicolor','Iris-virginica'
iris=pd.read_csv('/home/kinga/python/Wizaulizacje-Udemy/Plotly-Dashboards-with-Dash-master/Data/iris.csv')

In [137]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [138]:
iris_setosa=iris[iris['class']=='Iris-setosa']['petal_length']
iris_versicolor=iris[iris['class']=='Iris-versicolor']['petal_length']
iris_virginica=iris[iris['class']=='Iris-virginica']['petal_length']

hist_data=[iris_setosa,iris_versicolor,iris_virginica]
group_labels=['iris_setosa', 'iris_versicolor','iris_virginica' ]
fig=ff.create_distplot(hist_data, group_labels)
pyo.plot(fig)

'file:///home/kinga/python/Wizaulizacje-Udemy/temp-plot.html'

## 7.  Heatmap

In [139]:
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [140]:
temperature=pd.read_csv('/home/kinga/python/Wizaulizacje-Udemy/Plotly-Dashboards-with-Dash-master/Data/2010SantaBarbaraCA.csv')

In [141]:
temperature.head()

   LST_DATE      DAY LST_TIME  T_HR_AVG
0  20100601  TUESDAY     0:00      12.7
1  20100601  TUESDAY     1:00      12.7
2  20100601  TUESDAY     2:00      12.3
3  20100601  TUESDAY     3:00      12.5
4  20100601  TUESDAY     4:00      12.7

In [142]:
data=[go.Heatmap(y=temperature['LST_TIME'],
                x=temperature['DAY'],
                z=temperature['T_HR_AVG'].values.tolist(),# z doesn't accept columns-ypu have to take values to list
                colorscale='Jet')] 

layout=go.Layout(title='Average temperature')
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig)

'file:///home/kinga/python/Wizaulizacje-Udemy/temp-plot.html'

#### excercise

In [143]:
# Objective: Using the "flights" dataset available from the data folder as flights.csv
# create a heatmap with the following parameters:
# x-axis="year"
# y-axis="month"
# z-axis(color)="passengers"

In [144]:
flights=pd.read_csv('/home/kinga/python/Wizaulizacje-Udemy/Plotly-Dashboards-with-Dash-master/Data/flights.csv')

In [145]:
flights.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [146]:
import plotly.offline as pyo
import plotly.graph_objs as go

data=[go.Heatmap(x=flights['year'],
                  y=flights['month'],
                  z=flights['passengers'].values.tolist())]

layout=go.Layout(title='Passengers per month')
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig)

'file:///home/kinga/python/Wizaulizacje-Udemy/temp-plot.html'

## 8. Dash

In [147]:
import dash
import dash_core_components as dcc
import dash_html_components as html

In [148]:
app = dash.Dash()

app.layout=html.Div(children=[
    html.H1('Hello Dash'), # main header
    html.Div('My first web dashboard with Python'), # subtitle
                dcc.Graph(id='example',
                 figure={'data':[
                 {'x':[1,2,3], 'y':[4,1,2], 'type': 'bar', 'name':'SF'},
                 {'x':[1,2,3], 'y':[2,4,5], 'type': 'bar', 'name':'NYC'}],
                'layout': {'title': 'Bar plot'}}) ]) # plot's title 


if __name__=='__main__':
    app.run_server()

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [27/Feb/2019 22:15:10] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [27/Feb/2019 22:15:12] "GET /_favicon.ico HTTP/1.1" 200 -
127.0.0.1 - - [27/Feb/2019 22:15:12] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [27/Feb/2019 22:15:12] "GET /_dash-dependencies HTTP/1.1" 200 -

In [149]:
%%writefile server.py
# the same as above but with styles
import dash
import dash_core_components as dcc
import dash_html_components as html
app = dash.Dash()

colors={'background': 'green', 'font': 'yellow'}

app.layout=html.Div(children=[ # Div is a list html.Div(children=[ .... ])
    html.H1('Hello Dash', # main header
            style={'textAlign':'center', 'color':colors['font']}), # H1's style 
    
    html.Div('My first web dashboard with Python',
             style={'textAlign':'center', 'color':'red'} ), # subtitle's style
                
    dcc.Graph(id='example',
                 figure={'data':[
                 {'x':[1,2,3], 'y':[4,1,2],\
                              'type': 'bar',\
                              'name':'SF'},
                 {'x':[1,2,3], 'y':[2,4,5], 'type': 'bar', 'name':'NYC'}],
                'layout': {'title': 'Bar plot',# plot's title 
                          'plot_bgcolor':colors['background'], # plot's style 
                          'paper_bgcolor':'black',
                          'font':colors['font']}}) ],
                        
    style={'color':colors['font'], 'backgroundColor':colors['background']}) # whole layout style


if __name__=='__main__':
    app.run_server(host='192.168.0.103')

Overwriting server.py

In [150]:

import dash
import dash_core_components as dcc
import dash_html_components as html

app = dash.Dash()

app.layout = html.Div(children=[
    html.H1(children='Hello Dash'),
    html.Div(children='Dash: A web application framework for Python.'),

    dcc.Graph(
        id='example-graph',
        figure={
            'data': [
                {'x': [1, 2, 3], 'y': [4, 1, 2], 'type': 'bar', 'name': 'SF'},
                {'x': [1, 2, 3], 'y': [2, 4, 5], 'type': 'bar', 'name': u'Montréal'},
            ],
            'layout': {
                'title': 'Dash Data Visualization'
            }
        }
    )
])

if __name__ == '__main__':
    app.run_server()

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [27/Feb/2019 22:16:09] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [27/Feb/2019 22:16:11] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [27/Feb/2019 22:16:11] "GET /_dash-dependencies HTTP/1.1" 200 -

###  Dash  with plotly

In [151]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [152]:
transactions=pd.read_excel(r'/home/kinga/python/baza_bez_outliers.xlsx')

In [153]:
transactions.columns

Index(['Unnamed: 0', 'index', 'Adres', 'Cena', 'Cena_lokalu', 'Cena_zł/m2',
       'Data_transakcji', 'Forma obrotu', 'Funkcja dominująca',
       'Funkcja podstawowa', 'Identyfikator', 'Ilość_izb', 'Kondygnacja',
       'Liczba i rodzaj pomieszczeń przynależnych', 'Nr zmiany', 'Numer KW',
       'Numer transakcji/wyceny', 'Obręb', 'Opis', 'Opis nieruchomości',
       'Podstawa prawna', 'Pole powierzchni pomieszczeń przynależnych',
       'powierzchnia_lokalu', 'Rodzaj nieruchomości', 'Rodzaj obciążenia',
       'Rodzaj prawa objętego transakcją', 'Rodzaj zapisu', 'repertorium',
       'Udział w prawie będący przedmiotem transakcji',
       'Uzbrojenie istniejące', 'Uzbrojenie możliwe do podłączenia',
       'Współrzędne geometryczne środka budynku', 'miasto', 'adres_miasto',
       'ulica', 'numer_mieszkania', 'wspolrzedne', 'dlugosc', 'szerokosc'],
      dtype='object')

In [154]:
data=go.Scatter(x=transactions['powierzchnia_lokalu'].values.tolist(),
                y=transactions['Cena_zł/m2'].values.tolist(),
                mode='markers',
                marker={'symbol':'pentagon'})
layout=go.Layout(title= 'dependence of price on the surface')

app=dash.Dash()
app.layout=html.Div(children=[
    html.H1('Prices of properties', style={'color':'blue', 'textAlign':'center'}),
         
           
    dcc.Graph(id='scatter',
             figure={
                 'data':[data],
                 'layout': layout})
    
])
if __name__=='__main__':
    app.run_server()

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [27/Feb/2019 22:17:05] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [27/Feb/2019 22:17:05] "GET /_favicon.ico HTTP/1.1" 200 -
127.0.0.1 - - [27/Feb/2019 22:17:06] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [27/Feb/2019 22:17:06] "GET /_dash-dependencies HTTP/1.1" 200 -

In [155]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.graph_objs as go
import numpy as np

app = dash.Dash()

np.random.seed(42)
random_x = np.random.randint(1,101,100)
random_y = np.random.randint(1,101,100)

app.layout = html.Div([
    dcc.Graph(
        id='scatter3',
        figure={
            'data': [
                go.Scatter(
                    x = random_x,
                    y = random_y,
                    mode = 'markers',
                    marker = {
                        'size': 12,
                        'color': 'rgb(51,204,153)',
                        'symbol': 'pentagon',
                        'line': {'width': 2}
                        }
                )
            ],
            'layout': go.Layout(
                title = 'Random Data Scatterplot',
                xaxis = {'title': 'Some random x-values'},
                yaxis = {'title': 'Some random y-values'},
                hovermode='closest'
            )
        }
    )
])

if __name__ == '__main__':
    app.run_server()

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [27/Feb/2019 22:17:32] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [27/Feb/2019 22:17:32] "GET /_favicon.ico HTTP/1.1" 200 -
127.0.0.1 - - [27/Feb/2019 22:17:33] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [27/Feb/2019 22:17:33] "GET /_dash-dependencies HTTP/1.1" 200 -